.metadata
rfid/Debug

# Altium Designer Folders
Project\ Logs*\
History\
__Preview\
Out\

# Altium Designer Files
*.PcbDoc.htm
*.SchDoc.htm
*.Constraint
*.Resources
*.Annotation
*.vbit
*.log
*.err
*.txt

# Temporary/Output files
*.PDF
*.zip
*.bak
*.tmp

# Workspace/Desktop settings (Keep your local UI settings off GitHub)
*.DsnWrk
*.Desktop
*.Workspace